footer.footer
    .container.container_footer
        a.footer__logo(href="#") 
            span.footer__logo-top Dariana Anenkova
            span.footer__logo-bottom Живая фотография в твоем городе
        .footer__contacts 
            h3.footer__contacts-text Пишите мне
            a.footer__contacts-email(href="#") kleo.june@gmail.com
            a.footer__contacts-phone(href="tel:+380 (068) 235 86 11") +380 (068) 235 86 11
            a.footer__contacts-link.footer__contacts-link_telegram(href="#")
                svg.footer__contacts-svg
                    use(xlink:href="img/sprite.svg#footer__contacts-telegram")
            a.footer__contacts-link.footer__contacts-link_viber(href="#")
                svg.footer__contacts-svg
                    use(xlink:href="img/sprite.svg#footer__contacts-viber")
            a.footer__contacts-link.footer__contacts-link_whatsapp(href="#")
                svg.footer__contacts-svg
                    use(xlink:href="img/sprite.svg#footer__contacts-whatsapp")
        .footer__portfolio
            h3.footer__portfolio-text Портфолио
            a.footer__portfolio-link.footer__portfolio-link_instagram(href="#")
                svg.footer__portfolio-svg
                    use(xlink:href="img/sprite.svg#footer__portfolio-instagram")
            a.footer__portfolio-link.footer__portfolio-link_facebook(href="#")
                svg.footer__portfolio-svg
                    use(xlink:href="img/sprite.svg#footer__portfolio-facebook")
            a.footer__portfolio-link.footer__portfolio-link_vkontakte(href="#")
                svg.footer__portfolio-svg
                    use(xlink:href="img/sprite.svg#footer__portfolio-vkontakte")
        .footer__name  Дизайн сайта создан <a class="footer__name-author" href="#">Евгенией Аненковой</a>. Все права защищены &#169; 2021

