header.header 
    .container.container_header-top
        a.header__logo(href="#") 
            span.header__logo-top Dariana Anenkova
            span.header__logo-bottom Живая фотография в твоем городе
        a.header__phone(href="tel:+380 (068) 235 86 11") +380 (068) 235 86 11
        .header__translate-buttons
            button.header__translate-button(data-google-lang="en") eng
            button.header__translate-button(data-google-lang="ru") рус
            button.header__translate-button(data-google-lang="uk") укр
    .container.container_header-bottom
        h1.header__title. 
                        ХОЧЕШЬ 
                        ПРОФЕССИОНАЛЬНЫЕ
                        ФОТО БЕЗ СТРЕССА <br>
                        И ПОЗИРОВАНИЯ?
        .header__text. 
                        Я могу заснять какой ты настоящий 
                        и красивый в реальной  жизни
        button.button-subscribe(data-path="first") записаться


