.modal
    form.modal-form(data-target='first' method='POST' action='https://formfor.site/send/2RhQeJWg8OZioVa6AWheCEeDZbP15W')
        button.modal-form__close &times;
        h2.modal-form__title Запишитесь сегодня на  
            span.modal-form__title-big-text фотосессию
            input.modal-form__user-name(type='text' name='Имя' placeholder='Введите Ваше имя' required)
            input.modal-form__user-mail(type='mail' name='Почта' placeholder='Введите Вашу почту' required)
            input.modal-form__user-tel(type='tel' name='Телефон' placeholder='+7 (___) ___-__-__' required)
        button.modal-form__submit(type='submit') Записаться на фотосессию
        span.modal-form__text Ваши данные конфиденциальны
