@font-face {
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

/* * {
    outline: 1px solid #000;
} */
body {
  /* hide google translation panel start */
  top: 0 !important;
  /* hide google translation panel end */
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px; }

.container {
  margin: 0 auto;
  max-width: 1440px; }

/* hide google translation panel start */
.skiptranslate {
  display: none;
  height: 0; }

.goog-text-highlight {
  box-shadow: none !important;
  box-sizing: inherit !important;
  background-color: inherit !important; }

#goog-gt-tt {
  display: none !important; }

/* hide google translation panel end */
/* header-start */
.container_header-top {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 140px;
  max-width: 1140px; }

.container_header-bottom {
  margin: 0 auto;
  padding: 0 15px;
  /* min-height: 777px; */
  max-width: 1140px; }

.header {
  margin: 0 auto;
  min-height: 900px;
  max-width: 1440px;
  background: url("../img/header-image.jpg") top no-repeat; }
  .header__logo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: auto;
    margin-bottom: 28px;
    text-decoration: none;
    color: #fff; }
    .header__logo-top {
      padding-bottom: 8px;
      font-weight: 700;
      font-size: 32px; }
    .header__logo-bottom {
      font-weight: 400;
      font-size: 17px;
      line-height: 25px; }
  .header__phone {
    margin-right: 92px;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    text-decoration: none;
    color: #fff; }
  .header__translate-buttons {
    display: flex;
    justify-content: space-between;
    min-width: 210px; }
  .header__translate-button {
    border: 0;
    padding: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    cursor: pointer; }
    .header__translate-button_active {
      font-weight: 500;
      text-decoration: underline; }
  .header__title {
    margin: 0;
    padding-top: 150px;
    padding-bottom: 35px;
    max-width: 753px;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
    line-height: 72px;
    letter-spacing: 4px;
    color: #fff; }
  .header__text {
    padding-bottom: 55px;
    max-width: 590px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 2px;
    color: #fff; }

.button-subscribe {
  border: 0;
  border-radius: 5px;
  padding: 0;
  min-width: 270px;
  min-height: 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #235350;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer; }
  .button-subscribe:hover {
    background-color: #032e2b;
    transition: 0.3s; }

/* header-end */
/* main-start */
.main {
  margin: 0 auto;
  max-width: 1140px; }

/* main-section1 start */
.main-section {
  padding-top: 120px; }
  .main-section__title {
    margin: 0;
    padding-bottom: 45px;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000; }
  .main-section__card {
    padding-bottom: 55px;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    color: #333; }
    .main-section__card-photo {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .main-section__card-first-name {
      margin: 0;
      padding-top: 17px;
      font-weight: 400; }
    .main-section__card-location {
      margin: 0;
      padding-top: 2px;
      font-weight: 700; }
  .main-section__block {
    padding-bottom: 48px;
    font-weight: 400;
    font-style: normal;
    color: #333; }
    .main-section__block-title {
      margin: 0;
      padding-bottom: 14px;
      font-weight: 400;
      font-size: 30px;
      line-height: 45px;
      letter-spacing: 2px; }
    .main-section__block-text {
      max-width: 530px;
      font-size: 18px;
      line-height: 30px; }

.main-section1 {
  display: grid;
  grid-column-gap: 117px;
  grid-template: auto / 560px 460px;
  grid-template-areas: "title card1" "card2 card1" "card2 block1" "card2 card3" "block2 card3" "button-subscribe card3"; }
  .main-section1__title {
    grid-area: title; }
  .main-section1__card1 {
    grid-area: card1; }
  .main-section1__block1 {
    grid-area: block1; }
  .main-section1__card2 {
    grid-area: card2; }
  .main-section1__block2 {
    grid-area: block2; }
  .main-section1__card3 {
    grid-area: card3; }
  .main-section1__button {
    grid-area: button-subscribe; }

/* main-section1 end */
/* main-end */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

/* images-for-retina-start */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background: url("../img/header-image@2x.jpg") center top no-repeat;
    background-size: 1140px 917px; } }

/* images-for-retina-end */
/* header-start */
@media (max-width: 1000px) {
  .container_header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
  .header__logo {
    align-self: center;
    margin: 30px 0; }
    .header__logo-bottom {
      text-align: center; }
  .header__phone {
    margin: 0;
    margin-bottom: 30px; }
  .header__translate-buttons {
    margin-bottom: 30px; }
  .header__title {
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 470px;
    font-size: 25px;
    line-height: 1;
    text-align: center; }
  .header__text {
    padding-bottom: 62px;
    max-width: 340px;
    font-size: 20px;
    line-height: 1;
    text-align: center; }
  .container_header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* header-end */
/* main-start */
/* main-section start */
@media (max-width: 1180px) {
  .main-section {
    padding: 0 15px;
    padding-top: 60px; }
    .main-section__title {
      font-size: 35px;
      line-height: 45px;
      letter-spacing: 1px;
      text-align: center; }
    .main-section__button {
      text-align: center; } }

/* main-section end */
/* main-section1 start */
@media (max-width: 1180px) {
  .main-section1 {
    display: grid;
    justify-content: center;
    grid-template: auto/minmax(330px, 500px);
    grid-template-areas: "title" "card1" "block1" "card2" "block2" "card3" "button-subscribe";
    padding-top: 60px; } }

/* main-section1 end */
/* main-end */

/*# sourceMappingURL=style.css.map */
