doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="theme-color" content="#111111")
        title Portfolio
        link(rel="stylesheet" href="css/vendor.css")
        link(rel="stylesheet" href="css/style.css")
    body
        include pug-partials/header.pug
        main.main
            .container
                section.main-section.main-section1
                    h2.main-section__title.main-section1__title Давай прогуляемся вместо скучной фотосессии?
                    .main-section__card.main-section1__card1
                        img.main-section__card-photo.main-section1__card1-photo(src="./img//main-section1__card-photo2.jpg", srcset="./img/main-section1__card-photo2@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section1__card1-first-name Бхуми
                        h3.main-section__card-location.main-section1__card1-location Раджастан
                    .main-section__card.main-section1__card2
                        img.main-section__card-photo.main-section1__card2-photo(src="./img/main-section1__card-photo1.jpg", srcset="./img/main-section1__card-photo1@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section1__card2-first-name Саша и Майя
                        h3.main-section__card-location.main-section1__card2-location Днепр
                    .main-section__block.main-section1__block1
                        h4.main-section__block-title.main-section1__block1-title Забудь про позирование
                        .main-section__block-text.main-section1__block1-text Мы будем общаться и сохраним твою искренность, уникальную мимику и жесты.
                    .main-section__block.main-section1__block2
                        h4.main-section__block-title.main-section1__block2-title Просто будь собой 
                        .main-section__block-text.main-section1__block2-text Мы можем весело и интересно провести время и запечатлеть твои живые эмоции при общении с любимыми людьми и семьей.
                    .main-section__card.main-section1__card3
                        img.main-section__card-photo.main-section1__card3-photo(src="./img/main-section1__card-photo3.jpg", srcset="./img/main-section1__card-photo3@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section1__card3-first-name Алина
                        h3.main-section__card-location.main-section1__card3-location Днепр
                    .main-section__button.main-section1__button
                        button.button-subscribe записаться
                
                section.main-section.main-section2 
                    h2.main-section__title.main-section2__title Предлагаю расслабиться и забыть про время 
                    .main-section__card.main-section2__card1
                        img.main-section__card-photo.main-section2__card1-photo(src="./img//main-section2__card-photo1.jpg", srcset="./img/main-section2__card-photo1@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section2__card1-first-name Дети
                        h3.main-section__card-location.main-section2__card1-location Индия
                    .main-section__block.main-section2__block1
                        h4.main-section__block-title.main-section2__block1-title У нас полно времени
                        .main-section__block-text.main-section2__block1-text Съемка будет продолжаться столько,  сколько потребуется, чтобы ты остался доволен результатом.
                    .main-section__card.main-section2__card2
                        img.main-section__card-photo.main-section2__card2-photo(src="./img//main-section2__card-photo2.jpg", srcset="./img/main-section2__card-photo2@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section2__card2-first-name Евгения
                        h3.main-section__card-location.main-section2__card2-location Днепр
                    .main-section__block.main-section2__block2
                        h4.main-section__block-title.main-section2__block2-title У тебя все получится
                        .main-section__block-text.main-section2__block2-text Я еще не встретила ни одного человека, у кого не получилось бы расслабиться во время съемки со мной.
                    .main-section__block.main-section2__block3
                        h4.main-section__block-title.main-section2__block3-title Проживи свой обычный день
                        .main-section__block-text.main-section2__block3-text Будем делать перерывы на кофеек или чай, ведь время фотосессии не ограничено и я готова общаться с тобой столько, сколько понадобится.
                    .main-section__card.main-section2__card3
                        img.main-section__card-photo.main-section2__card3-photo(src="./img//main-section2__card-photo3.jpg", srcset="./img/main-section2__card-photo3@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section2__card3-first-name Тамара и Олег
                        h3.main-section__card-location.main-section2__card3-location Днепр
                    .main-section__button.main-section2__button
                        button.button-subscribe записаться

                section.main-section.main-section3 
                    h2.main-section__title.main-section3__title Помогу подобрать образ и место съёмки
                    .main-section3__about-me
                        img.main-section3__about-me-photo(src="./img/main-section3__about-me-photo.png", srcset="./img/main-section3__about-me-photo@2x.png 2x" alt="photo")
                        h3.main-section3__about-me-title Привет, меня зовут 
                        h3.main-section3__about-me-name Дарьяна Аненкова
                        p.main-section3__about-me-text Я занимаюсь фотографией более 10 лет и до сих пор не получила ни одного недовольного клиента. 
                        p.main-section3__about-me-text2 Пишите, буду рада пообщаться. 
                        a.main-section3__about-me-link(href="#")
                            svg.main-section3__about-me-svg
                                use(xlink:href="img/sprite.svg#about-me-instagram")
                        a.main-section3__about-me-link(href="#")
                            svg.main-section3__about-me-svg
                                use(xlink:href="img/sprite.svg#about-me-facebook")
                        a.main-section3__about-me-link(href="#")
                            svg.main-section3__about-me-svg
                                use(xlink:href="img/sprite.svg#about-me-telegram")
                    .main-section__card.main-section3__card1
                        img.main-section__card-photo.main-section3__card1-photo(src="./img/main-section3__card-photo1.jpg", srcset="./img/main-section3__card-photo1@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section3__card1-first-name Алёна и Амина
                        h3.main-section__card-location.main-section2__card3-location Днепр
                    .main-section__card.main-section3__card2
                        img.main-section__card-photo.main-section3__card2-photo(src="./img/main-section3__card-photo2.jpg", srcset="./img/main-section3__card-photo2@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section3__card2-first-name Саша и Майя
                        h3.main-section__card-location.main-section3__card2-location Днепр

                section.main-section.main-section4
                    .main-section__block.main-section4__block1
                        h4.main-section__block-title.main-section4__block1-title Решу за тебя все организационные вопросы
                        .main-section__block-text.main-section4__block1-text Я всегда открыта для обсуждения твоих идей, чтобы воплотить их наилучшим образом.
                    .main-section__button.main-section4__button
                        button.button-subscribe записаться
                    .main-section__card.main-section4__card1
                        img.main-section__card-photo.main-section4__card1-photo(src="./img/main-section4__card1-photo1.jpg", srcset="./img/main-section3__card1-photo1@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section4__card1-first-name Даша
                        h3.main-section__card-location.main-section4__card1-location Днепр
                    .main-section__card.main-section4__card2
                        img.main-section__card-photo.main-section4__card2-photo1(src="./img/main-section4__card2-photo1.jpg", srcset="./img/main-section4__card2-photo1@2x.jpg 2x", alt="photo")
                        img.main-section__card-photo.main-section4__card2-photo2(src="./img/main-section4__card2-photo2.jpg", srcset="./img/main-section4__card2-photo2@2x.jpg 2x", alt="photo")
                        img.main-section__card-photo.main-section4__card2-photo3(src="./img/main-section4__card2-photo3.jpg", srcset="./img/main-section4__card2-photo3@2x.jpg 2x", alt="photo")
                        img.main-section__card-photo.main-section4__card2-photo4(src="./img/main-section4__card2-photo4.jpg", srcset="./img/main-section4__card2-photo4@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section4__card2-first-name Дарина в ожидании чуда
                        h3.main-section__card-location.main-section4__card2-location Днепр
                
                section.main-section.main-section5
                    h2.main-section__title.main-section5__title Мы организуем съемку в твоем городе где бы ты ни находился
                    .main-section__card.main-section5__card1
                        img.main-section__card-photo.main-section5__card1-photo(src="./img/main-section5__card-photo1.jpg", srcset="./img/main-section5__card-photo1@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section2__card1-first-name Каролина и Владимир
                        h3.main-section__card-location.main-section5__card1-location Ницца
                    .main-section__card.main-section5__card2
                        img.main-section__card-photo.main-section5__card2-photo(src="./img/main-section5__card-photo2.jpg", srcset="./img/main-section5__card-photo2@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card2-first-name Александра и Игорь 
                        h3.main-section__card-location.main-section5__card2-location Москва
                    .main-section__card.main-section5__card3
                        img.main-section__card-photo.main-section5__card3-photo(src="./img/main-section5__card-photo3.jpg", srcset="./img/main-section5__card-photo3@2x.jpg 2x", alt="photo")
                    .main-section__card.main-section5__card4
                        img.main-section__card-photo.main-section5__card4-photo(src="./img/main-section5__card-photo4.jpg", srcset="./img/main-section5__card-photo4@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card4-first-name Сергей и Таня
                        h3.main-section__card-location.main-section5__card4-location Одесса
                    .main-section__card.main-section5__card5
                        img.main-section__card-photo.main-section5__card5-photo(src="./img/main-section5__card-photo5.jpg", srcset="./img/main-section5__card-photo5@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card5-first-name Лила и Ядунатх
                        h3.main-section__card-location.main-section5__card5-location Радхакунд
                    .main-section__card.main-section5__card6
                        img.main-section__card-photo.main-section5__card6-photo(src="./img/main-section5__card-photo6.jpg", srcset="./img/main-section5__card-photo6@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card6-first-name Мария и Павел
                        h3.main-section__card-location.main-section5__card6-location Москва
                    .main-section__card.main-section5__card7
                        img.main-section__card-photo.main-section5__card7-photo(src="./img/main-section5__card-photo7.jpg", srcset="./img/main-section5__card-photo7@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card7-first-name Эммерт и Мария
                        h3.main-section__card-location.main-section5__card7-location Амстердам
                    .main-section__card.main-section5__card8
                        img.main-section__card-photo.main-section5__card8-photo(src="./img/main-section5__card-photo8.jpg", srcset="./img/main-section5__card-photo8@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card8-first-name Тамара и Олег
                        h3.main-section__card-location.main-section5__card8-location Днепр
                    .main-section__card.main-section5__card9
                        img.main-section__card-photo.main-section5__card9-photo(src="./img/main-section5__card-photo9.jpg", srcset="./img/main-section5__card-photo9@2x.jpg 2x", alt="photo")
                        h3.main-section__card-first-name.main-section5__card9-first-name Калинди и Аин
                        h3.main-section__card-location.main-section5__card9-location Таллин
        include pug-partials/footer.pug
    script(src="js/vendor.js")
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    script(src="//translate.google.com/translate_a/element.js?cb=TranslateInit")
    script(src="js/main.js")