/* images-for-retina-start */

@media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .header {
            background: url("../img/header-image@2x.jpg") center top no-repeat;
            background-size: 1140px 917px;
            }
}

/* images-for-retina-end */

/* header-start */

@media (max-width: 1000px) {
    .container_header-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .header {
        &__logo {
            align-self: center;
            margin: 30px 0;

            &-bottom {
                text-align: center;
            }
        }

        &__phone {
            margin: 0;
            margin-bottom: 30px;
        }

        &__translate-buttons {
            margin-bottom: 30px;
        }

        &__title {
            padding-top: 90px;
            padding-bottom: 90px;
            max-width: 470px;
            font-size: 25px;
            line-height: 1;
            text-align: center;
        }

        &__text {
            padding-bottom: 62px;
            max-width: 340px;
            font-size: 20px;
            line-height: 1;
            text-align: center;
        }
    }

    .container_header-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* header-end */

/* main-start */

/* main-section start */

@media (max-width: 1180px) {
    .main-section {
        padding: 0 15px;
        padding-top: 60px;

        &__title {
            font-size: 32px;
            line-height: 45px;
            letter-spacing: 1px;
            text-align: center;
        }

        &__button {
            text-align: center;
        }
    }
}

/* main-section end */

/* main-section1 start */

@media (max-width: 1180px) {
    .main-section1 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "title"
        "card1"
        "block1"
        "card2"
        "block2"
        "card3"
        "button-subscribe";
        padding-top: 60px;
    }
}

/* main-section1 end */

/* main-section2 start */

@media (max-width: 1180px) {
    .main-section2 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "title"
        "card1"
        "block1"
        "card2"
        "block2"
        "card3"
        "block3"
        "button-subscribe";
        padding-top: 60px;

        &__card2,
        &__card3 {
            padding-bottom: 55px;
        }
    }
}

/* main-section2 end */

/* main-section3 start */

@media (max-width: 1180px) {
    .main-section3 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "title"
        "about-me"
        "card1"
        "card2";
        padding-top: 60px;
    }
}

/* main-section3 end */

/* main-section4 start */

@media (max-width: 1180px) {
    .main-section4 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "block1"
        "subscribe-button"
        "card1"
        "card2";
        padding-top: 0;

        &__card1 {
            padding-top: 40px;
        }

        &__card2 {
            padding-top: 0;
        }
    }
}

/* main-section4 end */

/* main-section5 start */

@media (max-width: 1180px) {
    .main-section5 {
        display: grid;
        justify-content: center;
        grid-column-gap: 20px;
        grid-template: auto / 1fr 1fr 1fr;
        grid-template-areas:
        "title title title"
        "card1 card2 card3"
        "card4 card4 card4"
        "card6 card6 card6"
        "card5 card7 card7"
        "card8 card8 card9";
        padding-top: 60px;

        &__title {
            justify-self: center;
        }
    }
}

/* main-section5 end */

/* main-section6 start */

@media (max-width: 1180px) {
    .main-section6 {
        display: grid;
        justify-content: center;
        padding-top: 60px;

        &__title {
            justify-self: center;
        }

        &__block2 {
            max-width: 100%;
        }

        &__gallery2 {
            grid-template: 250px / 1fr 1fr 1fr;
            grid-template-areas: "photo1 photo2 photo3";
        }
    }
}

/* main-section6 end */

/* main-section7 start */

@media (max-width: 1180px) {
    .main-section7 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 700px);
        grid-template-areas:
        "title"
        "block1"
        "wedding-photography"
        "lifestory-photography";
        padding-top: 60px;

        &__title {
            justify-self: center;
        }

        &__wedding-photography {
            display: grid;
            justify-content: center;
            grid-area: wedding-photography;
            grid-template: 120px auto 49px 45px 169px 55px / auto;
            grid-template-areas:
            "service"
            "photo"
            "work-time"
            "cost"
            "text"
            "button";
            padding-bottom: 60px;
        }

        &__lifestory-photography {
            display: grid;
            justify-content: center;
            grid-area: lifestory-photography;
            grid-column-gap: 2%;
            grid-template: auto auto auto auto auto 49px 169px 55px  / 1fr;
            grid-template-areas:
            "service"
            "photo1"
            "photo2"
            "photo3"
            "work-time"
            "cost"
            "text"
            "button";
            padding-bottom: 60px;

            &-service {
                line-height: 50px;
                text-transform: none;
            }

            &-photo1,
            &-photo2 {
                padding-bottom: 20px;
            }
        }
    }
}

/* main-section7 end */

/* main-end */

/* footer-start */

@media (max-width: 1000px) {
    .container_footer {
        display: flex;
        flex-direction: column;
    }

    .footer {
        &__logo {
            display: flex;
            flex-direction: column;
            align-self: center;
            margin-right: 0;
            margin-bottom: 60px;

            &-top {
                padding-bottom: 2px;
                font-weight: 700;
                font-size: 32px;
            }

            &-bottom {
                font-weight: 400;
                font-size: 17px;
                line-height: 25px;
                letter-spacing: 1px;
            }
        }

        &__contacts {
            display: grid;
            align-self: center;
            grid-template: repeat(4, 1fr) / 1fr repeat(3, 25px) 1fr;
            grid-template-areas:
            "text text text text text"
            "email email email email email"
            "phone phone phone phone phone"
            ". telegram viber whatsapp .";
            margin-right: 0;
            margin-bottom: 30px;
            text-align: center;
        }

        &__portfolio {
            display: grid;
            align-self: center;
            grid-template: repeat(2, 1fr) / 1fr repeat(3, 25px) 1fr;
            grid-template-areas:
            "text text text text text"
            ". instagram facebook vkontakte .";
            margin-bottom: 30px;
        }

        &__name {
            padding-top: 40px;
            width: 100%;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: $white-main;
        }
    }
}

/* footer-end */