/* images-for-retina-start */

@media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .header {
            background: url("../img/header-image@2x.jpg") center top no-repeat;
            background-size: 1140px 917px;
            }
}

/* images-for-retina-end */

/* header-start */

@media (max-width: 1000px) {
    .container_header-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .header {
        &__logo {
            align-self: center;
            margin: 30px 0;

            &-bottom {
                text-align: center;
            }
        }

        &__phone {
            margin: 0;
            margin-bottom: 30px;
        }

        &__translate-buttons {
            margin-bottom: 30px;
        }

        &__title {
            padding-top: 90px;
            padding-bottom: 90px;
            max-width: 470px;
            font-size: 25px;
            line-height: 1;
            text-align: center;
        }

        &__text {
            padding-bottom: 62px;
            max-width: 340px;
            font-size: 20px;
            line-height: 1;
            text-align: center;
        }
    }

    .container_header-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* header-end */

/* main-start */

/* main-section start */

@media (max-width: 1180px) {
    .main-section {
        padding: 0 15px;
        padding-top: 60px;

        &__title {
            font-size: 35px;
            line-height: 45px;
            letter-spacing: 1px;
            text-align: center;
        }

        &__button {
            text-align: center;
        }
    }
}

/* main-section end */

/* main-section1 start */

@media (max-width: 1180px) {
    .main-section1 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "title"
        "card1"
        "block1"
        "card2"
        "block2"
        "card3"
        "button-subscribe";
        padding-top: 60px;
    }
}

/* main-section1 end */

/* main-section2 start */

@media (max-width: 1180px) {
    .main-section2 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "title"
        "card1"
        "block1"
        "card2"
        "block2"
        "card3"
        "block3"
        "button-subscribe";
        padding-top: 60px;

        &__card2,
        &__card3 {
            padding-bottom: 55px;
        }
    }
}

/* main-section2 end */

/* main-section3 start */

@media (max-width: 1180px) {
    .main-section3 {
        display: grid;
        justify-content: center;
        grid-template: auto / minmax(330px, 500px);
        grid-template-areas:
        "title"
        "about-me"
        "card1"
        "card2";
        padding-top: 60px;
    }
}

/* main-section3 end */

/* main-end */