@import "vars";
@import "fonts";

body {
    /* hide google translation panel start */

    top: 0 !important;

    /* hide google translation panel end */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

/* background image fix start */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* background image fix end */

:focus {
    outline: 3px solid $red;
}

/* hide google translation panel start */

.skiptranslate {
    display: none;
    height: 0;
}

.goog-text-highlight {
    box-shadow: none !important;
    box-sizing: inherit !important;
    background-color: inherit !important;
}

#goog-gt-tt {
    display: none !important;
}

/* hide google translation panel end */

.button-subscribe {
    border: 0;
    border-radius: 5px;
    padding: 0;
    min-width: 270px;
    min-height: 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white-main;
    background-color: $green-main;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    animation: heartBeat 6s ease-in-out infinite 6s;
    cursor: pointer;

    &:hover {
        background-color: #032E2B;
        transition: 0.3s;
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    7% {
        transform: scale(1.1);
    }

    14% {
        transform: scale(1);
    }

    21% {
        transform: scale(1.1);
    }

    35% {
        transform: scale(1);
    }
}

@import "./css-components/header";

/* main-start */

.main {
    margin: 0 auto;
    max-width: 1140px;
}

/* main-section1 start */

.main-section {
    padding-top: 120px;

    &__title {
        margin: 0;
        padding-bottom: 45px;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 62px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $black-main;
    }

    &__card {
        padding-bottom: 55px;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        color: $gray1;

        & > a {
            display: contents;
        }

        &-photo {
            width: 100%;
            object-fit: cover;
        }

        &-first-name {
            margin: 0;
            padding-top: 17px;
            font-weight: 400;
        }

        &-location {
            margin: 0;
            padding-top: 2px;
            font-weight: 700;
        }
    }

    &__block {
        padding-bottom: 48px;
        font-weight: 400;
        font-style: normal;
        color: $gray1;

        &-title {
            margin: 0;
            padding-bottom: 17px;
            font-weight: 400;
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 2px;
        }

        &-text {
            max-width: 530px;
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.main-section1 {
    display: grid;
    grid-column-gap: 117px;
    grid-template: auto / 560px 460px;
    grid-template-areas:
    "title card1"
    "card2 card1"
    "card2 block1"
    "card2 card3"
    "block2 card3"
    "button-subscribe card3";

    &__title {
        grid-area: title;
    }

    &__card1 {
        grid-area: card1;
    }

    &__block1 {
        grid-area: block1;
    }

    &__card2 {
        grid-area: card2;
    }

    &__block2 {
        grid-area: block2;
    }

    &__card3 {
        grid-area: card3;
    }

    &__button {
        grid-area: button-subscribe;
    }
}

/* main-section1 end */

/* main-section2 start */

.main-section2 {
    display: grid;
    grid-template: auto auto auto auto 190px auto auto / 368px 115px 97px 560px;
    grid-template-areas:
    "title . card1 card1"
    "block1 . card1 card1"
    "card2 . card1 card1"
    "card2 . . block2"
    "card2 . . card3"
    "block3 block3 . card3"
    "button-subscribe . . card3";

    &__title {
        grid-area: title;
    }

    &__card1 {
        grid-area: card1;
    }

    &__block1 {
        grid-area: block1;
    }

    &__card2 {
        grid-area: card2;
        padding-bottom: 0;
    }

    &__block2 {
        grid-area: block2;
        max-width: 410px;
    }

    &__card3 {
        grid-area: card3;
        padding-bottom: 0;
    }

    &__block3 {
        grid-area: block3;
    }

    &__button {
        grid-area: button-subscribe;
    }
}

/* main-section2 end */

/* main-section3 start */

.main-section3 {
    display: grid;
    grid-gap: 20px;
    grid-template: auto / 365px 365px 365px;
    grid-template-areas:
    "title title ."
    "about-me card1 card2";

    &__title {
        grid-area: title;
        padding-bottom: 27px;
        max-width: 600px;
    }

    &__about-me {
        grid-area: about-me;
        padding-bottom: 88px;

        &-photo {
            padding-bottom: 48px;
            width: 200px;
            height: 200px;
        }

        &-title {
            margin: 0;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 2px;
        }

        &-name {
            margin: 0;
            padding-bottom: 15px;
            font-weight: 600;
            font-style: normal;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 2px;
        }

        &-text {
            margin: 0;
            padding-bottom: 26px;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1px;
            color: $gray1;
        }

        &-text2 {
            margin: 0;
            padding-bottom: 22px;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1px;
            color: $gray1;
        }

        &-link {
            display: inline-block;
            margin-right: 32px;
            width: 25px;
            height: 25px;
        }

        &-svg {
            width: 25px;
            height: 25px;
        }
    }

    &__card1 {
        grid-area: card1;
    }

    &__card2 {
        grid-area: card2;
    }
}

/* main-section3 end */

/* main-section4 start */

.main-section4 {
    display: grid;
    grid-gap: 20px;
    grid-template: auto / 560px 558px;
    grid-template-areas:
    "block1 card1"
    "subscribe-button card1"
    "card2 card1";
    padding-top: 0;

    &__block1 {
        grid-area: block1;
        padding-bottom: 35px;
    }

    &__card1 {
        grid-area: card1;
    }

    &__card2 {
        display: grid;
        grid-area: card2;
        grid-column-gap: 20px;
        grid-template: 401px  20px 261px / 1fr 1fr;
        grid-template-areas:
        "photo1 photo1 photo1"
        ". . ."
        "photo2 photo3 photo4"
        "first-name first-name first-name"
        "location location location";
        padding-top: 40px;

        &-photo1 {
            grid-area: photo1;
            padding-bottom: 20px;
            height: 100%;
        }

        &-photo2 {
            grid-area: photo2;
            height: 100%;
        }

        &-photo3 {
            grid-area: photo3;
            height: 100%;
        }

        &-photo4 {
            grid-area: photo4;
            height: 100%;
        }

        &-first-name {
            grid-area: first-name;
            height: 100%;
        }

        &-location {
            grid-area: location;
        }
    }

    &__button {
        grid-area: subscribe-button;
    }
}

/* main-section4 end */

/* main-section5 start */

.main-section5 {
    display: grid;
    grid-template: 40px 123px 191px 215px 60px 109px 337px 99px 63px 30px 79px 247px 19px 60px 30px 101px 99px 433px 174px / 367px 20px 76px 20px 77px 20px 173px 20px 367px;
    grid-template-areas:
    "title title  title  title  title  title  title . ."
    "title title  title  title  title  title  title . card3"
    ". . . . card2 card2 card2  . card3"
    "card1 card1 card1 . card2 card2 card2 . card3"
    "card1 card1 card1 . card2 card2 card2 . ." /*5*/
    "card1 card1 card1 . . . . . ."
    "card1 card1 card1 . card4 card4 card4 card4 card4"
    ". . . . card4 card4 card4 card4 card4"
    "card5 . . . card4 card4 card4 card4 card4"
    "card5 . . . . . . . ." /*10*/
    "card5 . . . . . . . card7"
    "card5 . card6 card6 card6 card6 card6 . card7"
    "card5 . card6 card6 card6 card6 card6 . ."
    "card5 . card6 card6 card6 card6 card6 . ."
    "card5 . . . . . . . ." /*15*/
    "card5 . . . . . card9 card9 card9"
    ". . . . . . card9 card9 card9"
    "card8 card8 card8 card8 card8 . card9 card9 card9"
    ". . . . . . card9 card9 card9";
    padding-top: 65px;

    &__title {
        grid-area: title;
        max-width: 610px;
    }

    &__card1 {
        grid-area: card1;
    }

    &__card2 {
        grid-area: card2;
    }

    &__card3 {
        grid-area: card3;
    }

    &__card4 {
        grid-area: card4;
    }

    &__card5 {
        grid-area: card5;
    }

    &__card6 {
        grid-area: card6;
    }

    &__card7 {
        grid-area: card7;
    }

    &__card8 {
        grid-area: card8;
    }

    &__card9 {
        grid-area: card9;
    }
}

/* main-section5 end */

/* main-section6 start */

.main-section6 {
    display: grid;
    grid-template-areas:
    "title"
    "block1"
    "gallery1"
    "block2"
    "gallery2"
    "button";
    padding-top: 120px;

    &__title {
        grid-area: title;
        max-width: 800px;
    }

    &__block1 {
        grid-area: block1;

        &-title {
            line-height: 45px;
        }
    }

    &__gallery1 {
        display: grid;
        grid-area: gallery1;
        grid-column-gap: 20px;
        grid-template: 490px 20px 39px 20px 185px 20px 41px 20px 245px / 1fr 1fr 1fr;
        grid-template-areas:
        "photo1 photo2 photo3"
        "...... photo2 photo3"
        "photo4 photo2 photo3"
        "photo4 ..... ......."
        "photo4 photo6 photo7"
        "...... photo6 photo7"
        "photo5 photo6 photo7"
        "photo5 photo6 ......"
        "photo5 photo6 photo8";

        &-photo1 {
            grid-area: photo1;
            height: 100%;
        }

        &-photo2 {
            grid-area: photo2;
            height: 100%;
        }

        &-photo3 {
            grid-area: photo3;
            height: 100%;
        }

        &-photo4 {
            grid-area: photo4;
            height: 100%;
        }

        &-photo5 {
            grid-area: photo5;
            height: 100%;
        }

        &-photo6 {
            grid-area: photo6;
            height: 100%;
        }

        &-photo7 {
            grid-area: photo7;
            height: 100%;
        }

        &-photo8 {
            grid-area: photo8;
            height: 100%;
        }
    }

    &__gallery2 {
        display: grid;
        grid-area: gallery2;
        grid-column-gap: 20px;
        grid-template: 549px / 1fr 1fr 1fr;
        grid-template-areas: "photo1 photo2 photo3";

        &-photo1 {
            grid-area: photo1;
            height: 100%;
        }

        &-photo2 {
            grid-area: photo2;
            height: 100%;
        }

        &-photo3 {
            grid-area: photo3;
            height: 100%;
        }
    }

    &__block2 {
        grid-area: block2;
        padding-top: 27px;
        padding-bottom: 62px;
        max-width: 900px;

        &-title {
            line-height: 45px;
        }
    }

    &__button {
        justify-self: center;
        grid-area: button;
    }
}

/* main-section6 end */

/* main-section7 start */

.main-section7 {
    display: grid;
    grid-template: auto auto 558px 672px / auto;
    grid-template-areas:
    "title"
    "block1"
    "wedding-photography"
    "lifestory-photography";
    padding-top: 120px;

    &__title {
        grid-area: title;
        max-width: 1000px;
    }

    &__block1 {
        grid-area: block1;

        &-title {
            line-height: 45px;
        }

        &-text {
            max-width: 550px;
        }
    }

    &__service {
        margin: 0;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 3px;
        color: $black-main;
    }

    &__work-time {
        margin: 0;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 3px;
        color: $gray1;
    }

    &__cost {
        margin: 0;
        font-weight: 700;
        font-style: normal;
        font-size: 36px;
        line-height: 50px;
        color: $black-main;
    }

    &__text {
        margin: 0;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        line-height: 30px;
        color: $gray1;
    }

    &__wedding-photography {
        display: grid;
        grid-area: wedding-photography;
        grid-column-gap: 22px;
        grid-template: 120px 49px 45px 169px 55px / 656px 460px;
        grid-template-areas:
        "photo service"
        "photo work-time"
        "photo cost"
        "photo text"
        "photo button";
        padding-bottom: 120px;

        &-photo {
            grid-area: photo;
        }

        &-service {
            grid-area: service;
            max-width: 250px;
        }

        &-work-time {
            grid-area: work-time;
        }

        &-cost {
            grid-area: cost;
        }

        &-text {
            grid-area: text;
            max-width: 250px;
        }

        &-button {
            grid-area: button;
        }
    }

    &__lifestory-photography {
        display: grid;
        grid-area: lifestory-photography;
        grid-template: 278px 27px 25px 44px 123px 55px / 369px 17px 366px 20px 367px;
        grid-template-areas:
        "service . photo1 . photo2"
        "work-time . . . photo2"
        "work-time . photo3 . photo2"
        "cost . photo3 . photo2"
        "text . photo3 . photo2"
        "button . photo3 . photo2";
        padding-bottom: 120px;

        &-photo1 {
            grid-area: photo1;
        }

        &-photo2 {
            grid-area: photo2;
        }

        &-photo3 {
            grid-area: photo3;
        }

        &-service {
            grid-area: service;
            font-size: 40px;
            line-height: 60px;
            text-transform: uppercase;
        }

        &-work-time {
            grid-area: work-time;
        }

        &-cost {
            grid-area: cost;
        }

        &-text {
            grid-area: text;
        }

        &-button {
            grid-area: button;
        }
    }

    &__bold-text {
        font-weight: 700;
    }
}

/* main-section7 end */

/* main-end */

@import "./css-components/footer";
@import "./css-components/modal-window";

/* success-modal-start */

.success-modal {
    position: fixed;
    left: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 260px;
    min-height: 80px;
    font-size: 25px;
    text-align: center;
    color: $white-main;
    background-color: rgba($green-main, 0.9);
    opacity: 0;
	visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;

    &_active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0.5s;
    }
}

/* success-modal-end */

/* fix for fslightbox start */

.fslightbox-open {
    padding-right: 17px;
}

/* fix for fslightbox end */

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

@import "media";